<p id="notice"><%= notice %></p>

<p>
  <b>Comments:</b>
  <%= @violation_log.comments %>
</p>

<p>
  <b>Contact name:</b>
  <%= @violation_log.contact_name %>
</p>

<p>
  <b>Date:</b>
  <%= @violation_log.date %>
</p>
<p>
  <b>Violation Line:</b>
  <%= @violation_log.violation_line_id %>
</p>


<%= link_to 'Edit', edit_violation_log_path(@violation_log) %> |
<%= link_to 'Back', violation_logs_path %>
