<%= form_for @violation_line, :url => { :action => "create" } do |f| %>
Building for <%=@violation_line.user.testprofile2.f_name%>
Building for <%=@violation_line.company.name%>
  <% if @violation_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@violation_type.errors.count, "error") %> prohibited this violation_type from being saved:</h2>

      <ul>
      <% @violation_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    <h3>Violation Type</h3>
<%= f.select(:violation_type_id, ViolationType.all.collect{|v|[v.name, v.id]})%>

    <h3>Company information</h3>
    
<%= f.select(:company_id, Company.all.collect{|c|[c.name, c.id]})%>

Can't find the company the is harassing you? <%= link_to 'Add it', new_company_path %> .

<h3>Violation Log Information</h3>
<%= f.fields_for :violation_logs do |cf|%>
  <div class="field">
    <%= cf.label :comments %><br />
    <%= cf.text_area :comments %>
  </div>
  <div class="field">
    <%= cf.label :contact_name %><br />
    <%= cf.text_field :contact_name %>
  </div>
  <div class="field">
    <%= cf.label :date %><br />
    <%= cf.text_field :date %>
  </div>
  
  <%end%>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

