<p id="notice"><%= notice %></p>

<p>
  <b>F name:</b>
  <%= @testprofile2.f_name %>
</p>

<p>
  <b>L name:</b>
  <%= @testprofile2.l_name %>
</p>

<p>
  <b>Line add:</b>
  <%= @testprofile2.line_add %>
</p>

<p>
  <b>State add:</b>
  <%= @testprofile2.state_add %>
</p>

<p>
  <b>Zip add:</b>
  <%= @testprofile2.zip_add %>
</p>


<%= link_to 'Edit', edit_testprofile2_path(@testprofile2) %> |
<%= link_to 'Back', root_path %>
