<p id="notice"><%= notice %></p>
<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Pay type</th>
    <th></th>
    <th></th>
    <th>Products</th>
  </tr>
  <tr>
    <td><%= @order.name %></td>
    <td><%= @order.address %></td>
    <td><%= @order.pay_type %></td>
    <td></td>
    <td>  </td>
    <%@order.line_items.each do |line|%>
    <td>Line ID: <%= line.id%> Title of Product: <%= line.product.title%></td>
<%end%>
    
  </tr>
</table>
