<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @violation_type.description %>
</p>

<p>
  <b>Name:</b>
  <%= @violation_type.name %>
</p>

<p>
  <b>Is referable:</b>
  <%= @violation_type.is_referable %>
</p>


<%= link_to 'Edit', edit_violation_type_path(@violation_type) %> |
<%= link_to 'Back', violation_types_path %>
