<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Add line:</b>
  <%= @company.add_line %>
</p>

<p>
  <b>Description:</b>
  <%= @company.description %>
</p>

<p>
  <b>State add:</b>
  <%= @company.state_add %>
</p>

<p>
  <b>Zip add:</b>
  <%= @company.zip_add %>
</p>

<% @company.phone_lists.each do |phone| %>
<%='('+phone.area_code.to_s+') '+phone.phone_num.to_s%>
<%end%>
<p>
<%= link_to 'Add a phone number to this company', new_phone_path(@company)%>
</p>


<%= link_to 'Back', companies_list_path %>
