<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Add line:</b>
  <%= @company.add_line %>
</p>

<p>
  <b>Description:</b>
  <%= @company.description %>
</p>

<p>
  <b>State add:</b>
  <%= @company.state_add %>
</p>

<p>
  <b>Zip add:</b>
  <%= @company.zip_add %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
