<%= form_for @violation_line, :url => { :action => "new" } do |f| %>
  <% if @violation_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@violation_line.errors.count, "error") %> prohibited this violation_line from being saved:</h2>

      <ul>
      <% @violation_line.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company_id %><br />
    <%= f.number_field :company_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :violation_type_id %><br />
    <%= f.number_field :violation_type_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
